.root{
    display: flex;
    gap:12px;

}

.button{
    width: 40px;
    height: 40px;
    border: 1px solid #fe5f1e;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 237, 237);;
    color: #fe5f1e;
    font-size: 15px;
    cursor: pointer;

    &:hover{
        background-color: #fe5f1e;
        color: aliceblue;
    }
}