

.root{
    position: relative;
}
.input{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 8px 15px;
    width: 300px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;

    &:focus{
        width: 450px;
        border: 1px solid rgba(0,0,0,0.2);
    }


}

.cross{
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
    width: 18px;
    height: 18px;
    right: 8px;
    top: 11px;

    &:hover{
        opacity: 0.8;
    }
}